@charset "utf-8";

* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body{
	background-color:#446E7D
}

.my-class {
    color:black;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
	background-color: #446E7D;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 40;
    top: 20vw;
    right: 0vw;
	margin-top: 50px;
}
	
.toptext {
color: white;
font-size: 6vw;
font-family: " Helvetica";
text-align: center;
font-weight: bold;
margin-left: 20px;
margin-right: 20px
}
.text-center {
    text-align: center!important;
}

.bottomtext{
color:white;
text-align: center;
font-family: helvetica;
font-weight: bold;	
font-size: 3vw;
}

.carousel-inner{
height: 700px;
width: auto;
margin-right: 0px;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;

}

.box {
    background-color: #446E7D;
    height: 200px;
    width: auto;
    margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid black;
}



