@charset "utf-8";

* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body{
	background-color:#FFFFFF
}

.my-class {
    color:white;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
	background-color: #446E7D;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 40;
    top: 20vw;
    right: 0vw;
	margin-top: 50px;
}
	
.toptext {
color: white;
font-size: 6vw;
font-family: " Helvetica";
text-align: center;
font-weight: bold;
margin-left: 20px;
margin-right: 20px
}
.text-center {
    text-align: center!important;
}

.bottomtext{
color:white;
text-align: center;
font-family: helvetica;
font-weight: bold;	
font-size: 3vw;
}

.carousel-inner{
height: 700px;
width: auto;
margin-right: 0px;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;

}

.box1 {
height: auto;
width: auto;
margin:0px 0px 20px 0px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
color: white;
font-size: 6vw;
font-family: " Helvetica";
font-weight: bold;
background-color: #446E7D
}

.box2 {
height: auto;
width: auto;
margin:0px 0px 0px 0px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
color: white;
font-size: 6vw;
font-family: " Helvetica";
font-weight: bold;
background-color: #446E7D
}
.circlecontainer{
        display: block;
        margin-left: auto;
        margin-right: auto
    }

.visionmision{
    background-color: #062533;
    height: auto;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 15px 15px 15px 15px;
	border: 3px #062533;
	text-align: center;
	color:white;
}

.card-body{
text-align: center;	
font-family: " Helvetica";
}

.competion{
height: 300px;
width: auto;
margin:0px 0px 0px 0px;
}

.contaier-footer{
height: 120px;
width: auto;
background-color: #446E7D
}